:root {
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: rgb(60, 60, 60);
    height: 20;
}

#resize-grid-item-slider {
    width: 60;
    margin-right: 16;
}